{% from "components/catalogCards.njk" import previewCard %}
{% from "components/catalogCards.njk" import productCard %}

<section>
    {# <div class="container px-3 mx-auto md:px-4 lx:px-8 xl:px-20 2xl:px-28">
        <div class="pb-8">
            <h1 class="text-xl-d">Каталог</h1>
        </div>
        <div class="grid w-full grid-cols-2 md:grid-cols-3 2xl:grid-cols-4 gap-y-3 gap-x-4">
            {% for item in catalog.index %}
                {{
                    previewCard(
                        img = item.img,
                        title = item.title
                    )
                }}
            {% endfor %}
        </div>
    </div> #}
    {{ productCard() }}
</section>