<section>
    <div class="container px-4 mx-auto">
        <div class="pb-8">
            <h1 class="text-xl-d">Каталог</h1>
        </div>
        <ul class="grid w-full ">
            <li class="w-full  transition-all h-[144px] bg-center bg-no-repeat rounded " style="background-image: url(/assets/images/milk-product.jpg);">
                <button class="relative block w-full h-full transition-all duration-700 rounded bg-gradient-to-t hover:bg-gradient-to-t from-mantis to-mantis/0 hover:bg-outrageous_orange/25">  
                    <span class="absolute bottom-2.5 left-2.5 text-m-d text-white">Молоко, сыр, яйцо</span>
                </button>
            </li>
        </ul>
        <button class="w-20 h-10 transition-all duration-300 bg-red-500 hover:bg-red-100"> </button>
    </div>
</section>