{% from "components/catalogCards.njk" import previewCard %}
{% from "components/catalogCards.njk" import productCard %}

<section>
    {# <div class="container px-3 mx-auto md:px-4 lx:px-8 xl:px-20 2xl:px-28">
        <div class="pb-8">
            <h1 class="text-xl-d">Каталог</h1>
        </div>
        <div class="grid w-full grid-cols-2 md:grid-cols-3 2xl:grid-cols-4 gap-y-3 gap-x-4">
            {% for item in catalog.index %}
                {% if loop.index===10 %}
                    {% set colspan2 = true %}
                {% else %}
                    {% set colspan2 = false %}
                {% endif %}
                {{
                    previewCard(
                        img = item.img,
                        title = item.title,
                        colspan2 = colspan2,
                        class = "first:col-span-2 last:col-span-2 last:md:col-span-1 last:2xl:col-span-2 last:2xl:col-start-2 last:2xl:row-start-4"
                    )
                }}
            {% endfor %}
        </div>
    </div> #}
    {{ 
        productCard(
            image="dorblue",
            price="160,99",
            description="Lorem ipsum dolor sit amet"
        ) 
    }}
</section>